%p#notice= notice

%p
  %b Title:
  = @general.title
%p
  %b Description:
  = @general.description
%p
  %b Price:
  = @general.price
%p
  %b Time for job:
  = @general.time_for_job

= link_to 'Edit', edit_admin_general_path(@general)
\|
= link_to 'Back', admin_generals_path
