= form_for [:admin, @page] do |f|
  = render 'errors', object: @page

  %p
    = f.label :title
    = f.text_field :title, class: "form-control"
  .field
    = f.label :body
    = f.cktext_area :body
  %p
    = f.label :slug
    = f.text_field :slug, class: "form-control"
  .actions
    = f.submit 'Save', class: "btn btn-default"
