%h1 Name:
  = @order.name
%p
  %b Phone:
  = @order.phone
%p
  %b Comment:
  = @order.comment
%p
  %b Total price:
  = @order.total_price
%p
  %b Total time for gob:
  = @order.total_time_for_gob
%p
  %b Wishes date:
  = @order.wishes_date
%p
  %b Cleaners date:
  = @order.cleaners_date
