%h1 Listing order_items

%table
  %thead
    %tr
      %th General
      %th Additional
      %th Order
      %th Quantity
      %th Total price
      %th
      %th
      %th

  %tbody
    - @order_items.each do |order_item|
      %tr
        %td= order_item.general
        %td= order_item.additional
        %td= order_item.order
        %td= order_item.quantity
        %td= order_item.total_price
        %td= link_to 'Show', order_item
        %td= link_to 'Edit', edit_order_item_path(order_item)
        %td= link_to 'Destroy', order_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order item', new_order_item_path
